<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPostCode" />
        <binding name="GetAddressByPostCodeSoap11Binding1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SendSoap" />
        <binding name="GetPersonInfoSoap11Binding" />
        <binding name="GetPersonInfoSoap11Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="GetLegalPersonInfoDBSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="GetLegalPersonInfoDBSoap11Binding1" />
        <binding name="SendSMSFromSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="SendSMSFromSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SendSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="GetPersonInfoSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="GetLegalPersonInfoDBSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="SendSMSFromSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.106.20:8080/api2/v1/PostCode.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPostCode"
        contract="PostCodeServiceReference.IPostCode" name="BasicHttpBinding_IPostCode" />
      <endpoint address="http://api.payamak-panel.com/post/Send.asmx"
        binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="ServiceReferenceSendSms.SendSoap"
        name="SendSoap" />
      <endpoint address="http://api.payamak-panel.com/post/Send.asmx"
        binding="customBinding" bindingConfiguration="SendSoap12" contract="ServiceReferenceSendSms.SendSoap"
        name="SendSoap12" />
      <endpoint address="https://sr-cix.ntsw.ir/services/GetAddressByPostCode.GetAddressByPostCodeHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="GetAddressByPostCodeSoap11Binding1"
        contract="CIXGetAddressByPostcode.GetAddressByPostCodePortType"
        name="GetAddressByPostCodeHttpsSoap11Endpoint" />
      <endpoint address="http://sr-cix.ntsw.ir/services/GetPersonInfo.GetPersonInfoHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="GetPersonInfoSoap11Binding"
        contract="CixGetPersonInfoServiceReference.GetPersonInfoPortType"
        name="GetPersonInfoHttpSoap11Endpoint" />
      <endpoint address="https://sr-cix.ntsw.ir/services/GetPersonInfo.GetPersonInfoHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="GetPersonInfoSoap11Binding1"
        contract="CixGetPersonInfoServiceReference.GetPersonInfoPortType"
        name="GetPersonInfoHttpsSoap11Endpoint" />
      <endpoint address="https://sr-cix.ntsw.ir/services/GetPersonInfo.GetPersonInfoHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="GetPersonInfoSoap12Binding"
        contract="CixGetPersonInfoServiceReference.GetPersonInfoPortType"
        name="GetPersonInfoHttpsSoap12Endpoint" />
      <endpoint address="http://sr-cix.ntsw.ir/services/GetPersonInfo.GetPersonInfoHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="GetPersonInfoSoap12Binding"
        contract="CixGetPersonInfoServiceReference.GetPersonInfoPortType"
        name="GetPersonInfoHttpSoap12Endpoint" />
      <endpoint address="https://sr-cix.ntsw.ir/services/GetLegalPersonInfoDB.GetLegalPersonInfoDBHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="GetLegalPersonInfoDBSoap11Binding"
        contract="CixGetLegalPerson.GetLegalPersonInfoDBPortType" name="GetLegalPersonInfoDBHttpsSoap11Endpoint" />
      <endpoint address="http://sr-cix.ntsw.ir/services/GetLegalPersonInfoDB.GetLegalPersonInfoDBHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="GetLegalPersonInfoDBSoap11Binding1"
        contract="CixGetLegalPerson.GetLegalPersonInfoDBPortType" name="GetLegalPersonInfoDBHttpSoap11Endpoint" />
      <endpoint address="http://sr-cix.ntsw.ir/services/GetLegalPersonInfoDB.GetLegalPersonInfoDBHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="GetLegalPersonInfoDBSoap12Binding"
        contract="CixGetLegalPerson.GetLegalPersonInfoDBPortType" name="GetLegalPersonInfoDBHttpSoap12Endpoint" />
      <endpoint address="https://sr-cix.ntsw.ir/services/GetLegalPersonInfoDB.GetLegalPersonInfoDBHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="GetLegalPersonInfoDBSoap12Binding"
        contract="CixGetLegalPerson.GetLegalPersonInfoDBPortType" name="GetLegalPersonInfoDBHttpsSoap12Endpoint" />
      <endpoint address="https://sr-cix.ntsw.ir/services/SendSMSFrom.SendSMSFromHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="SendSMSFromSoap11Binding"
        contract="SmsNtswService.SendSMSFromPortType" name="SendSMSFromHttpsSoap11Endpoint" />
      <endpoint address="http://sr-cix.ntsw.ir/services/SendSMSFrom.SendSMSFromHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="SendSMSFromSoap11Binding1"
        contract="SmsNtswService.SendSMSFromPortType" name="SendSMSFromHttpSoap11Endpoint" />
      <endpoint address="https://sr-cix.ntsw.ir/services/SendSMSFrom.SendSMSFromHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="SendSMSFromSoap12Binding"
        contract="SmsNtswService.SendSMSFromPortType" name="SendSMSFromHttpsSoap12Endpoint" />
      <endpoint address="http://sr-cix.ntsw.ir/services/SendSMSFrom.SendSMSFromHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="SendSMSFromSoap12Binding"
        contract="SmsNtswService.SendSMSFromPortType" name="SendSMSFromHttpSoap12Endpoint" />
    </client>
  </system.serviceModel> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
